sup, sub { font-size:0.6em; }
.flip { transform: scale(-1, -1); display: inline-block; }
.bold { font-weight: bold; }
.italic { font-style: italic; }

h3 {text-align: center; }
.section { margin-bottom: 5em; margin-left: auto; margin-right: auto; display: table; }
.subsection {padding-left: 3em}

form{ margin-top: 4em; }
form input{ float: left; box-sizing: border-box; border: none; padding: 1.1em 1em 0.9em; }
form input:focus { outline: none; box-shadow: none; }
form input[type="text"]{ border-bottom-left-radius: 1em; border-top-left-radius: 1em; }
form input[type="submit"]{ border-bottom-right-radius: 1em; border-top-right-radius: 1em; background-color: #005; color: white; font-weight: bold;}
input[type=text], .code {background-color: #EEE; font-family: "Courier New", sans-serif; }

.proofIsDone .proof {background:#CFC;}
.proofIsPending .proof {background:#FCFCBB;}
.proofIsIncomplete .proof {}
.proof { text-align:center; }
.proof { display:table; white-space:nowrap; padding-left: 2.4em; padding-top:0.5em; padding-bottom:0.3em; margin: auto; }
.proof table { margin: auto; }
.proof table.binary-rule { width:100%; }
.proof td { padding:0; border:0; margin:0; text-align:center; }
.proof .sequent { display: inline-block; margin-top: 0.2em; }
.proof .sibling { display: inline-block; vertical-align:bottom; }
.proof .tagBox { color: #333; vertical-align: top; width: 1.5em; padding-right:2em; }
.proof .tagBox .tag { position:relative; top:-0.6em; text-align: left; margin-left: 0.2em; font-size: 0.9em;}
.proof .tagBox .contraction { top:-0.5em; }
.proof .inference { border-top: 1px solid #000; }
.proof .turnstile { margin: 0 0.3em; }
.proof .turnstile:hover { background: #FDD; cursor:pointer; }
.proof .commaList { display: inline-block; list-style: none; margin: 0; padding: 0; }
.proof .commaList li { display: inline-block; margin-left: 0.2em;}
.proof .commaList li:after { content: ','; margin-left: 0.2em;}
.proof .commaList li:last-child:after { content: ''; }
.proof .binary-connector { margin-left: 3px; margin-right: 3px; }
.proof .clickableExpr:hover { cursor:pointer; }
.proof .highlightableExpr:hover { background: #DDF; }
.proof .main-formula:hover .primaryConnector { background: #005; color: #FFF; }
.proof .clickableExpr:hover .tensor-left, .proof .clickableExpr:hover .tensor-right { position: relative;}
.proof .clickableExpr:hover .tensor-left::before { content: '←'; position: absolute; left: -0.5em; top: 50%; color: #005;}
.proof .clickableExpr:hover .tensor-right::after { content: '→'; position: absolute; right: -0.5em; top: 50%; color: #005;}

.pedagogic-error { padding: 10px; margin: 10px 0; color: #856404; background-color: #fff3cd; border: 1px solid #ffeeba; border-radius: .25rem; }
.pedagogic-error .message { display: inline-block; }
.pedagogic-error .close-button { display: inline-block; cursor: pointer; margin-left: 10px; }

.code {   border-radius: 0.3em; padding: 0.2em; }
.example { font-style: italic; margin-right: 1em; }

.syntax td:nth-child(1) { text-align: right; padding-right: 1em;}
.syntax td:nth-child(2) { text-align: left;}
